<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @profile.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>Dirección:</b>
  <%= @profile.address %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
