<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <% @id = transaction.profile_id %>
    <% profile = Profile.find(@id) %>
    <td><%= profile.name  %></td>
    <td><%= profile.lastname  %></td>
    <% if transaction.amount >= 40000 %>
    <td><%=  highlight(transaction.amount.to_s, transaction.amount.to_s) %></td>
    <% else %>  
    <td><%= transaction.amount %></td>
    <% end %>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Regresar a perfiles', :action=>"index", :controller=>"profiles" %>
